
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}




*{
    margin: 0px;
    padding: 0px;
}
.nav-content{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: white;
    background-color: #1A0B2E;
    height: 92px;
    padding: 10px 190px 10px 190px;
   


}

.mobile-menu-icon{
    display: none;
}
.nave-bar{
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center;
    gap: 30px;
    
  
    
}

.nave-bar li{
list-style-type: none;
gap: 302px;
font-size: 16px;
font-weight: 500;


}

.nave-logo h1{
font-size: 35px;
font-weight: bolder;
}


.new-gr-color{
    background: linear-gradient(90deg, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    color: transparent;
}


.nav-btn, .btn-1{
    width: 130px;
    height: 40px;
    border-radius: 23px;
    cursor: pointer;
    border: none;
     background: linear-gradient(10deg, #F7E93F, #FB09B4, #9100F8);
     font-size: 16;
     font-weight: 600;
     color: white;
    
    
}

.div-manu{
    display: flex;
    gap: 190px;
}

.span-btn{
    gap: 90px
}


 .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px;
    width: 100%;
    position: relative;
 }

 .hero-bg-img{
    position: absolute;
    top: 0px;
    left: 0;
    background-image: url(../all-img/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    border-top: 1px solid #3c1b53;
    z-index: 1;
  
 }

 .mic-container{
    position: relative;
    z-index: 2;
 }

 .cercle-img{
    height: 350px;
    width: 350px;
    background-image: url(../all-img/hero-circle.png);
    background-position: center;
    background-size: cover;
   
 }

 .mic-img{
    position: absolute;
    height: 175px;
    width: 116px;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }

 .new-bagd{
    position: absolute;
    background-color: #00FF88;
    width: 79px;
    height: 38px;
    text-align: center;
    padding-top: 15px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    top: 5px;
    right: 5px;
    z-index: 4;
 }



.hero-text{
    position: relative;
    color: white;
    z-index: 11;
    align-items: center;
    text-align: center;
    padding-top: 40px;


}

.hero-text h1{
    font-size: 60px;
    color: white;
    font-weight: bolder;
    padding-bottom: 7px;
}
.hero-text p{
    font-size: 16px;
    color: rgb(224, 213, 213);
    padding-bottom: 20px;
}

.hero-button{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;
   margin-top:11px;
   z-index: 11;
}

.btn-1{
    width: 201px;
    height: 44px;
    border-radius: 30px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    
}


.btn-2{
    height: 44px;
    width: 147px;
     border-radius: 30px;
     border: 1px solid #00FF88;
     background-color: #1A0B2E;
     color: #00FF88;
    font-size: 16px;
    font-weight: bold;
   

}

.card-section{
    background-color: #1A0B2E;
}


.card-main-div{
    padding: 50px 200px 120px 200px;
    align-items: center;
    text-align: center;

}

.text-card-1 h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.text-card-1 p{
    font-size: 16px;
    color: rgb(170, 161, 161);
    padding-bottom: 30px;
    line-height: 200%;
}

.reating-card{
    display: flex;
    justify-content: space-between;
    color: #00FF88;
    padding-top: 40px;
    border-top: 1px solid #2c173b;
}

.reating-card p{
    font-size: 16px;
    color: rgb(170, 161, 161);
}


.grid-section{
     padding: 100px 200px 200px 200px;
     height: 790px;
     
     


}


.grid-content h1{
    text-align: center;
    

    
    
}

.grid-container{
    padding: 37px;
    
   
}
.grid-content{
    display: grid;
    

    
}



.grid-1{
    display: grid;
    grid-column: span 1;
    grid-row: span 2;
    padding: 20px;
    border-radius: 30px;



}

.grid-2{
    display: grid;
    grid-column: span 2;
    grid-row: span 1;
    padding: 20px;
border-radius: 30px;

}

.grid-3{
    display: grid;
    grid-column: span 2;
    grid-row: span 1;
padding: 20px;
border-radius: 30px;
}

.grid-4{
    display: grid;
    grid-column: span 2;
    grid-row: span 1;
    padding: 25px;
    padding-bottom: 40px;
   
    
border-radius: 30px;
}

.grid-5{
    display: grid;
    grid-column: span 1;
    grid-row: span 2;
         padding: 20px;
         border-radius: 30px;
}

.grid-container{
    display: grid;
    gap: 25px;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-section{
    background-color: #230E3D;
    

}

.grid-content h1{
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.grid-container div h3{
   color: white;
   font-size: 24px;
   font-weight: bold;
}

.grid-container div p{
    color: rgb(134, 131, 131);
    font-size: 15px;
}

.grid-container div{
    gap: 7px;
    background-color: #2e0e58;


}

.all-video-youtube{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}



.yt-video-1{
    /* border: 2px solid red; */
    height: 430px;
    width: 320px;
    gap: 10px;
    border-radius: 21px 21px 21px 21px;
}

.frame{
    height: 200px;
    width: 100%;
    padding-bottom: 10px;
    border-radius: 20px 20px 0px 0px;
}

.youtube-section{
    height: 1100px;
    padding:  60px 200px 00px 118px ;
    background-color: #1A0B2E;
    
    text-align: center;
}

.yt-video-1{
    background-color: #2e0e58;
}

.youtube-section h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    padding-bottom: 30px;
}

.yt-video-1 h3 {
   padding-left: 10px;
  
}

.class-h3{
font-size: 24px;
font-weight: bold;
color: white; 
}

.yt-video-1 p {
    padding-left: 10px;
    font-size: 16px;
    padding-top: 10px;
   
}

.akdom-host{
    background-color: #2e0e58;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    gap: 20px;

}


.host-fot-div h2{
    font-size: 32px;
    color: white;
    padding-bottom: 15px;
}

.host-fot-div p{
    font-size: 14px;
     color: rgb(134, 131, 131);
       text-align: left;
     padding-bottom: 35px;
}


.host-fot-div h2{
    text-align: left;
}


.host-h1{
    padding-top: 90px;
}
    
    








.unic-p{
    color: rgb(216, 205, 205);
    font-size: 11px;
}


.footer-section{
    text-align: center;
    justify-content: center;
    align-items: center;
   height: 410px;
   padding-top: 100px;

    background-image: url(../all-img/footer-bg.png);

    background-position: center;
    /* background-size: cover;
    background-repeat: no-repeat; */
   

   
   
}

.foot-logo h1{
    font-size: 70px;
    color: white;
    padding-bottom: 30px;
    padding-top: 40px;
    
}

.rc-color{
            background: linear-gradient(80deg, #b3328c, #9100F8);
    -webkit-background-clip: text;
    color: transparent;
}

.foter-social-logo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* .foter-social-logo div{
    display: flex;
    gap: 50px;
  
    
    
} */
.min-class{
    display: flex;
    align-items: center;
    text-align: center;
    
}
.loogo-container{
    display: flex;
    justify-content: center;
   color:  rgb(134, 131, 131);
    padding-bottom: 32px;
    gap: 40px;
    
}

.copy-right{
    font-size: 15px;
    color: rgb(134, 131, 131);
    padding-top: 10px;
}



@media screen and (max-width: 576px) {
    
.nav-content{
    padding: 18px 20px;
}




.div-manu {
    display: none;

}

.hero-bg-img{
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    background-position: center top;
    background-size: 240% 100%;
   
    
}

.cercle-img{
    height: 240px;
    width: 240px;
}

.mic-img{

    height: 130px;
    width: 80px;
}

.new-bagd{
        width: 67px;
    height: 33px;
   
    padding-top: 15px;
   
    font-weight: 700;
    font-size: 15px;
}

.hero-text h1{
    font-size: 40px;
}

.hero-button{
    gap: 8px;
}

.card-main-div{
    padding-left: 25px;
    padding-right: 15px;
    align-items: center;
    text-align: center;

}

.text-card-1 div h1{
    font-size: 32px;
}
.text-card-1 p{
   font-size: 12px;
}





.reating-card{
  
    font-size: large;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 100px ;

}





.reating-card p{
    font-size: 10px;
    color: rgb(170, 161, 161);
   
}





.grid-container{
     grid-template-columns: repeat( 1fr);
    grid-template-rows: auto;
    flex-wrap: wrap;
  
}

 
.grid-1{
    grid-column: 1;
    grid-row: auto;
    padding: 61px;
    width: 100%;
    margin: 0 auto ;




} 

 
.grid-2{
    grid-column: 1;
    grid-row: auto;
    
      padding: 61px;
    width: 100%;
    margin: 0 auto ;
} 

 
.grid-3{
    grid-column: 1;
    grid-row: auto;
  
        padding: 61px;
    width: 100%;
    margin: 0 auto ;
} 
 
.grid-4{
    grid-column: 1;
    grid-row: auto;
    
        padding: 61px;
    width: 100%;
    margin: 0 auto ;
} 

 
.grid-5{
    grid-column: 1;
    grid-row: auto;
    
        padding: 61px;
    width: 100%;
    margin: 0 auto ;
} 

.grid-section{
     padding-left: 30px;
     padding-right: 0px ;
     padding-bottom: 90px;
     height: 1750px;
    


}


.grid-content{
    padding-left:0px;
    padding-right: 9px;
}


.grid-content h1{
    
    font-size: 30px;
}

.grid-container div h3{
    font-size: 21px;
    padding-top: 16px;
    padding-bottom: 16px;
}


.all-video-youtube{
grid-template-columns: repeat(1, 1fr);
}


.youtube-section{
 height: auto;
    padding-left: 80px ;
    background-color: #1A0B2E;
    padding-bottom: 30px;
    text-align: center;

}

.youtube-section h1{
    font-size: 20px;
    font-weight: bolder;
    padding-left: 20px;
    
     
}
   



.akdom-host{
background-color: #2e0e58;
    padding: 70px;
    
    display: grid;
    width: 100%;
   
}
    

.class-h3{
font-size: 20px;
font-weight: bold;
padding-right: 10px;

}

.unic-p{
    font-size: 12px;
    padding-right: 20px;
}


.akdom-host{
 flex-direction: column;
 align-items: center;
 
}

.host-fot-div div{
    justify-content: center;
}



.foter-social-logo

.footer-section{
    height: auto;
    padding: 60px 20px ;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.foot-logo h1{
    font-size: 45px;
    color: white;
    padding-bottom: 30px;
    padding-top: 40px;
    
}


.footer-section{
    text-align: center;
    justify-content: center;
    align-items: center;
   height: 410px;
   padding-top: 80px;
   padding-bottom:  10px ;

    background-image: url(../all-img/footer-bg.png);
    background-size: 160% 110%;

       
    background-repeat: no-repeat;
    
}

.loogo-container {
        display: flex;
        flex-wrap: wrap;
            
        gap: 30px 85px;
}


.mobile-menu-icon{
    display: block;
    
}




}

