
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}




*{
    margin: 0px;
    padding: 0px;
}
.nav-content{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: white;
    background-color: #1A0B2E;
    height: 92px;
    padding: 10px 190px 10px 190px;
   


}


.nave-bar{
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center;
    gap: 30px;
    
  
    
}

.nave-bar li{
list-style-type: none;
gap: 302px;
font-size: 16px;
font-weight: 500;


}

.nave-logo h1{
font-size: 35px;
font-weight: bolder;
}


.new-gr-color{
    background: linear-gradient(90deg, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    color: transparent;
}


.nav-btn, .btn-1{
    width: 130px;
    height: 40px;
    border-radius: 23px;
    cursor: pointer;
    border: none;
     background: linear-gradient(10deg, #F7E93F, #FB09B4, #9100F8);
     font-size: 16;
     font-weight: 600;
     color: white;
    
    
}

.div-manu{
    display: flex;
    gap: 190px;
}

.span-btn{
    gap: 90px
}


 .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px;
    width: 100%;
    position: relative;
 }

 .hero-bg-img{
    position: absolute;
    top: 0px;
    left: 0;
    background-image: url(../all-img/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    border-top: 1px solid #3c1b53;
    z-index: 1;
  
 }

 .mic-container{
    position: relative;
    z-index: 2;
 }

 .cercle-img{
    height: 350px;
    width: 350px;
    background-image: url(../all-img/hero-circle.png);
    background-position: center;
    background-size: cover;
   
 }

 .mic-img{
    position: absolute;
    height: 175px;
    width: 116px;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }

 .new-bagd{
    position: absolute;
    background-color: #00FF88;
    width: 79px;
    height: 38px;
    text-align: center;
    padding-top: 15px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    top: 5px;
    right: 5px;
    z-index: 4;
 }



.hero-text{
    position: relative;
    color: white;
    z-index: 11;
    align-items: center;
    text-align: center;
    padding-top: 40px;


}

.hero-text h1{
    font-size: 60px;
    color: white;
    font-weight: bolder;
    padding-bottom: 7px;
}
.hero-text p{
    font-size: 16px;
    color: rgb(224, 213, 213);
    padding-bottom: 20px;
}

.hero-button{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;
   margin-top:11px;
   z-index: 11;
}

.btn-1{
    width: 201px;
    height: 44px;
    border-radius: 30px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    
}


.btn-2{
    height: 44px;
    width: 147px;
     border-radius: 30px;
     border: 1px solid #00FF88;
     background-color: #1A0B2E;
     color: #00FF88;
    font-size: 16px;
    font-weight: bold;
   

}

.card-section{
    background-color: #1A0B2E;
}


.card-main-div{
    padding: 50px 200px 120px 200px;
    align-items: center;
    text-align: center;

}

.text-card-1 h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.text-card-1 p{
    font-size: 16px;
    color: rgb(170, 161, 161);
    padding-bottom: 30px;
    line-height: 200%;
}

.reating-card{
    display: flex;
    justify-content: space-between;
    color: #00FF88;
    padding-top: 40px;
    border-top: 1px solid #2c173b;
}

.reating-card p{
    font-size: 16px;
    color: rgb(170, 161, 161);
}


.grid-section{
     padding: 100px 200px 200px 200px;
     height: 790px;
     
     


}


.grid-content h1{
    text-align: center;
    

    
    
}

.grid-container{
    padding: 37px;
    
   
}
.grid-content{
    display: grid;
    

    
}



.grid-1{
    display: grid;
    grid-column: span 1;
    grid-row: span 2;
    padding: 20px;
    border-radius: 30px;



}

.grid-2{
    display: grid;
    grid-column: span 2;
    grid-row: span 1;
    padding: 20px;
border-radius: 30px;

}

.grid-3{
    display: grid;
    grid-column: span 2;
    grid-row: span 1;
padding: 20px;
border-radius: 30px;
}

.grid-4{
    display: grid;
    grid-column: span 2;
    grid-row: span 1;
    padding: 25px;
    padding-bottom: 40px;
   
    
border-radius: 30px;
}

.grid-5{
    display: grid;
    grid-column: span 1;
    grid-row: span 2;
         padding: 20px;
         border-radius: 30px;
}

.grid-container{
    display: grid;
    gap: 25px;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-section{
    background-color: #230E3D;
    

}

.grid-content h1{
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.grid-container div h3{
   color: white;
   font-size: 24px;
   font-weight: bold;
}

.grid-container div p{
    color: rgb(134, 131, 131);
    font-size: 15px;
}

.grid-container div{
    gap: 7px;
    background-color: #2e0e58;


}

.yt-section{
    padding: 120px 200px 80px 200px;
    /* text-align: center; */

    
}

.video{
    /* border: 1px solid red; */
    border-radius: 30px;
    height: 360px;
    width: 270px;
    background-color: #351165;
    
    
}

.video-yt{
    border-radius: 30px 30px 0px 0px;
    width: 270px;
    height: 150px;
   
   
}

.min{
    display: flex;
    gap: 9px;
    padding-top: 23px;
    
    
}



.yt-video-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
    

}

/* section backround */
  .yt-section{

    background-color: #1A0B2E;
    

  }





.yt-h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    padding-bottom: 40px;
    text-align: center;
}


.common-class h2{
    font-size: 23px;
    font-weight: bold;
    color: white;
    
}

.common-class p{
    font-size: 14px;
    color:  rgb(134, 131, 131);
    gap: 10px;
    flex-direction: column;
    
}

.min-class p{
    color: #00FF88;
   
    
    
}

.common-class{
padding-left: 15px;
padding-top: 20px;
}




.host-container{
    display: flex;
    background-color: #351165;
    gap: 23px;
    padding: 31px;
    align-items: center;
    border-radius: 18px;
}

.h2{
    padding-top: 120px;
    color: white;
    text-align: center;
    padding-bottom: 38px;
    font-size: 47px;
    font-weight: bold;
}

.host-logo-container h3{
    font-size: 32px;
    font-weight: bold;
    color: white;
    padding-bottom: 16px;
}

.host-logo-container p{
    font-size: 16px;
    color:  rgb(134, 131, 131);
    padding-bottom: 16px;
}

.social-logo{
    display: flex;
    gap: 18px;
}


.footer-section{
    text-align: center;
    justify-content: center;
    align-items: center;
   height: 410px;
   padding-top: 100px;

    background-image: url(../all-img/footer-bg.png);

    background-position: center;
    /* background-size: cover;
    background-repeat: no-repeat; */

   
   
}

.foot-logo h1{
    font-size: 70px;
    color: white;
    padding-bottom: 30px;
    padding-top: 40px;
    
}

.rc-color{
            background: linear-gradient(80deg, #b3328c, #9100F8);
    -webkit-background-clip: text;
    color: transparent;
}

.foter-social-logo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* .foter-social-logo div{
    display: flex;
    gap: 50px;
  
    
    
} */
.min-class{
    display: flex;
    align-items: center;
    text-align: center;
    
}
.loogo-container{
    display: flex;
    justify-content: center;
   color:  rgb(134, 131, 131);
    padding-bottom: 32px;
    gap: 40px;
    
}

.copy-right{
    font-size: 15px;
    color: rgb(134, 131, 131);
    padding-top: 10px;
}





/* আপনার আগের গ্লোবাল স্টাইলগুলো ঠিক থাকবে */
.inter-font {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* এটি খুবই গুরুত্বপূর্ণ যাতে প্যাডিং উইডথ বাড়িয়ে না দেয় */
}

/* --- Navigation --- */
.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #1A0B2E;
    height: auto;
    min-height: 80px;
    padding: 10px 5%; /* পিক্সেলের বদলে পার্সেন্টেজ ব্যবহার করা হয়েছে */
}

.nave-bar {
    display: flex;
    list-style: none;
    gap: 30px;
}

.div-manu {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* --- Hero Section --- */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 750px;
    width: 100%;
    position: relative;
    padding: 20px;
}

.hero-text h1 {
    font-size: clamp(30px, 8vw, 60px); /* স্ক্রিন অনুযায়ী সাইজ ছোট-বড় হবে */
    color: white;
    font-weight: bolder;
    text-align: center;
}

/* --- About & Grid Section --- */
.card-main-div {
    padding: 50px 5%;
    text-align: center;
}

.grid-container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr); /* ডেক্সটপে ৩ কলাম */
    padding: 20px 0;
}

/* General Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* এটি ছাড়া রেসপন্সিভ হবে না */
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #1A0B2E;
    color: white;
    overflow-x: hidden; /* সাইড স্ক্রলিং বন্ধ করবে */
}

/* --- Navigation --- */
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #1A0B2E;
}

.div-manu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nave-bar {
    display: flex;
    list-style: none;
    gap: 20px;
}

/* --- Hero Section --- */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    background: url('../all-img/hero-bg.png') center/cover no-repeat;
}

.mic-container {
    position: relative;
    margin-bottom: 30px;
}

.cercle-img {
    height: 300px;
    width: 300px;
    background: url('../all-img/hero-circle.png') center/cover;
}

.mic-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
}

.new-bagd {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #00FF88;
    color: #000;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-button {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

/* --- About & Stats --- */
.card-main-div {
    padding: 80px 10%;
    text-align: center;
}

.reating-card {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #2e1749;
}

/* --- Grid Section (Why Choose) --- */
.grid-section {
    background-color: #230E3D;
    padding: 80px 5%;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.grid-container div {
    background: #2e0e58;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
}

/* --- YouTube/Episodes Section --- */
.yt-video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 40px 5%;
}

.video {
    background: #351165;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}

.video-yt {
    width: 100%;
    height: 200px;
}



@media screen and (max-width: 768px) {
    
    
    * {
        box-sizing: border-box;
    }
    
    body {
        overflow-x: hidden; 
    }

  
    .nav-content {
        padding: 15px 20px !important;
        height: auto !important;
    }
    
    .nave-bar, .span-btn {
        display: none !important;
    }

   
    .hero {
        height: auto !important;
        padding: 40px 20px !important;
    }
    
    .hero-bg-img {
        height: 100% !important;
    }

    .cercle-img {
        height: 250px !important;
        width: 250px !important;
    }

    .hero-text h1 {
        font-size: 35px !important;
    }

    .hero-button {
        flex-direction: column !important; 
        gap: 15px !important;
    }

    .btn-1, .btn-2 {
        width: 100% !important;
        max-width: 280px;
    }

    .card-main-div {
        padding: 40px 20px !important;
    }

    .reating-card {
        flex-direction: column !important;
        gap: 25px !important;
    }

   
    .grid-section {
        padding: 50px 20px !important;
        height: auto !important;
    }

    .grid-container {
        display: flex !important;
        flex-direction: column !important;
        padding: 10px 0 !important;
    }

    .grid-container div {
        width: 100% !important;
    }

    .yt-section {
        padding: 50px 20px !important;
    }

    .yt-video-container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .video {
        width: 100% !important;
        height: auto !important;
    }

    .video-yt {
        width: 100% !important;
    }


    .host-container {
        flex-direction: column !important;
        text-align: center !important;
        padding: 20px !important;
    }

    .social-logo {
        justify-content: center !important;
    }

   
    .footer-section {
        height: auto !important;
        padding: 50px 20px !important;
    }

    .foot-logo h1 {
        font-size: 40px !important;
    }

    .loogo-container {
        flex-direction: column !important;
        gap: 15px !important;
    }
}