
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}




*{
    margin: 0px;
    padding: 0px;
}
.nav-content{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: white;
    background-color: #1A0B2E;
    height: 92px;
    padding: 10px 190px 10px 190px;
   


}


.nave-bar{
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center;
    gap: 30px;
    
  
    
}

.nave-bar li{
list-style-type: none;
gap: 302px;
font-size: 16px;
font-weight: 500;


}

.nave-logo h1{
font-size: 35px;
font-weight: bolder;
}


.new-gr-color{
    background: linear-gradient(90deg, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    color: transparent;
}


.nav-btn, .btn-1{
    width: 130px;
    height: 40px;
    border-radius: 23px;
    cursor: pointer;
    border: none;
     background: linear-gradient(10deg, #F7E93F, #FB09B4, #9100F8);
     font-size: 16;
     font-weight: 600;
     color: white;
    
    
}

.div-manu{
    display: flex;
    gap: 190px;
}

.span-btn{
    gap: 90px
}


 .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px;
    width: 100%;
    position: relative;
 }

 .hero-bg-img{
    position: absolute;
    top: 0px;
    left: 0;
    background-image: url(../all-img/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    border-top: 1px solid #3c1b53;
    z-index: 1;
  
 }

 .mic-container{
    position: relative;
    z-index: 2;
 }

 .cercle-img{
    height: 350px;
    width: 350px;
    background-image: url(../all-img/hero-circle.png);
    background-position: center;
    background-size: cover;
   
 }

 .mic-img{
    position: absolute;
    height: 175px;
    width: 116px;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }

 .new-bagd{
    position: absolute;
    background-color: #00FF88;
    width: 79px;
    height: 38px;
    text-align: center;
    padding-top: 15px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    top: 5px;
    right: 5px;
    z-index: 4;
 }



.hero-text{
    position: relative;
    color: white;
    z-index: 11;
    align-items: center;
    text-align: center;
    padding-top: 40px;


}

.hero-text h1{
    font-size: 60px;
    color: white;
    font-weight: bolder;
    padding-bottom: 7px;
}
.hero-text p{
    font-size: 16px;
    color: rgb(224, 213, 213);
    padding-bottom: 20px;
}

.hero-button{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;
   margin-top:11px;
   z-index: 11;
}

.btn-1{
    width: 201px;
    height: 44px;
    border-radius: 30px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    
}


.btn-2{
    height: 44px;
    width: 147px;
     border-radius: 30px;
     border: 1px solid #00FF88;
     background-color: #1A0B2E;
     color: #00FF88;
    font-size: 16px;
    font-weight: bold;

}

.card-section{
    background-color: #1A0B2E;
}


.card-main-div{
    padding: 50px 200px 120px 200px;
    align-items: center;
    text-align: center;

}

.text-card-1 h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.text-card-1 p{
    font-size: 16px;
    color: rgb(170, 161, 161);
    padding-bottom: 30px;
    line-height: 200%;
}

.reating-card{
    display: flex;
    justify-content: space-between;
    color: #00FF88;
    padding-top: 40px;
    border-top: 1px solid #2c173b;
}

.reating-card p{
    font-size: 16px;
    color: rgb(170, 161, 161);
}


.grid-section{
     padding: 50px 200px 120px 200px;
     height: 800px;
}


.grid-content h1{
    text-align: center;
    
    
}

.grid-container{
    padding: 30px;
}
.grid-content{
    display: grid;

    
}

.grid-content div{
border: 3px solid red;
}

.grid-1{
    display: grid;
    grid-column: span 1;
    grid-row: span 2;



}

.grid-2{
    display: grid;
    grid-column: span 2;
    grid-row: span 1;


}

.grid-3{
    display: grid;
    grid-column: span 2;
    grid-row: span 1;

}

.grid-4{
    display: grid;
    grid-column: span 2;
    grid-row: span 1;

}

.grid-5{
    display: grid;
    grid-column: span 1;
    grid-row: span 2;

}

.grid-container{
    display: grid;
        gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-section{
    /* background-color: #a798ba; */
}

